@charset "UTF-8";
/*RESET - ╤Б╨▒╤А╨╛╤Б ╤Б╤В╨╕╨╗╨╡╨╣*/
/* line 1, ../scss/_reset.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../scss/_reset.scss */
table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

/* line 1, ../scss/_reset.scss */
img {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
embed {
  vertical-align: top;
}

/* line 1, ../scss/_reset.scss */
input[type=text], textarea {
  outline: none;
  border-radius: 0;
}

/*DEFAULT STYLES - ╨│╨╗╨╛╨▒╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕*/
/* line 1, ../scss/_default.scss */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block;
}

/* line 1, ../scss/_default.scss */
mark, rp, rt, ruby, summary, time {
  display: inline;
}

/* Global properties ======================================================== */
/* line 3, ../scss/_default.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 5, ../scss/_default.scss */
body {
  font-family: 'Stag Sans LC Book', sans-serif;
  font-size: 12px;
  line-height: 1.23;
  font-weight: 400;
  color: #fff;
  height: 100%;
  min-width: 300px;
  background-color: #000;
  -webkit-text-size-adjust: none;
}

/* line 17, ../scss/_default.scss */
.container {
  width: 1006px;
  margin: 0 auto;
  max-width: 100%;
}

/* line 23, ../scss/_default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../scss/_default.scss */
button,
input,
select,
textarea {
  font-family: 'Stag Sans LC Book', sans-serif;
  outline: none;
}

/* line 37, ../scss/_default.scss */
button {
  cursor: pointer;
}

/* line 41, ../scss/_default.scss */
.page_wrap {
  min-height: 100%;
  margin-bottom: -160px;
  background-color: #000;
}

/*----------------------> Links And buttons <------------------*/
/* line 48, ../scss/_default.scss */
.link {
  text-decoration: underline;
}

/* line 52, ../scss/_default.scss */
a {
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

/* line 58, ../scss/_default.scss */
a:hover {
  color: #ffa500;
  text-decoration: none;
}

/* line 63, ../scss/_default.scss */
.btn,
.button {
  display: inline-block;
  padding: 0 20px;
  min-width: 240px;
  margin: 0 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 62px;
  color: #000;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ffa500;
  border: none;
}

/* line 79, ../scss/_default.scss */
.btn:hover,
button:hover {
  background-color: #ffbd41;
  color: #000;
}

/* line 86, ../scss/_default.scss */
.btn2 {
  display: inline-block;
  padding: 0 20px;
  margin: 0 0 0;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: -.5px;
  background-color: #ffa600;
  border: none;
}

/* line 101, ../scss/_default.scss */
.black-skin {
  background-color: #000;
  color: #fff;
}

/* line 107, ../scss/_default.scss */
.tech-links a {
  color: #fff;
}

/*----------------------> Basic Classes <------------------*/
/* line 111, ../scss/_default.scss */
.reg {
  text-transform: uppercase;
}

/* line 112, ../scss/_default.scss */
.f_left {
  float: left;
}

/* line 113, ../scss/_default.scss */
.f_right {
  float: right;
}

/* line 114, ../scss/_default.scss */
.al_left {
  text-align: left;
}

/* line 115, ../scss/_default.scss */
.al_right {
  text-align: right;
}

/* line 116, ../scss/_default.scss */
.al_center {
  text-align: center;
}

/* line 118, ../scss/_default.scss */
.it {
  font-style: italic;
}

/* line 119, ../scss/_default.scss */
.let {
  letter-spacing: -1px;
}

/* line 121, ../scss/_default.scss */
.full_w {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 128, ../scss/_default.scss */
.val_mid {
  vertical-align: middle;
}

/*----------------------> Indents Zero <------------------*/
/* line 131, ../scss/_default.scss */
.m_b_zero {
  margin-bottom: 0 !important;
}

/* line 132, ../scss/_default.scss */
.m_l_zero {
  margin-left: 0 !important;
}

/* line 133, ../scss/_default.scss */
.p_b_zero {
  padding-bottom: 0 !important;
}

/* line 134, ../scss/_default.scss */
.p_l_zero {
  padding-left: 0 !important;
}

/*----------------------> Positions <------------------*/
/* line 137, ../scss/_default.scss */
.p_abs {
  position: absolute;
}

/* line 138, ../scss/_default.scss */
.p_rel {
  position: relative;
}

/* line 139, ../scss/_default.scss */
.p_fix {
  position: fixed;
}

/* line 140, ../scss/_default.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* line 141, ../scss/_default.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 148, ../scss/_default.scss */
.wrapper {
  overflow: hidden;
}

/* line 149, ../scss/_default.scss */
.f_elem > *:first-child {
  margin-top: 0 !important;
}

/* line 150, ../scss/_default.scss */
.f_elem1 > *:first-child {
  margin-top: 0 !important;
  border: none !important;
}

/* line 152, ../scss/_default.scss */
.bg_none {
  background: none !important;
}

/*----------------------> Displays <------------------*/
/* line 156, ../scss/_default.scss */
.d_block {
  display: block;
}

/* line 157, ../scss/_default.scss */
.d_ib {
  display: inline-block;
}

/* line 158, ../scss/_default.scss */
.d_none {
  display: none;
}

/* line 159, ../scss/_default.scss */
.d_tc {
  display: table-cell;
}

/* line 160, ../scss/_default.scss */
.d_t {
  display: table;
}

/*----------------------> Basic Colors <------------------*/
/* line 165, ../scss/_default.scss */
.accent-color {
  color: #ffa500;
}

/* line 169, ../scss/_default.scss */
.grey-color {
  color: #636259;
}

/*======================> Header <======================*/
/* line 175, ../scss/_default.scss */
header {
  background-color: #fff;
  padding: 20px 0 19px;
}
/* line 179, ../scss/_default.scss */
header .container {
  position: relative;
}

/* line 183, ../scss/_default.scss */
.logo {
  max-width: 220px;
  position: absolute;
  top: -19px;
  left: 0;
  background-color: #ffa600;
}

/* line 190, ../scss/_default.scss */
.logo a {
  display: inline-block;
}

/* line 194, ../scss/_default.scss */
.logo img {
  max-width: 100%;
  height: auto;
}

/* line 199, ../scss/_default.scss */
nav {
  color: #9c9d9d;
  padding: 7px 15px 0 250px;
}

/* line 208, ../scss/_default.scss */
.menu__item {
  display: inline-block;
  margin-right: 30px;
}

/* line 213, ../scss/_default.scss */
nav a {
  color: #000;
  text-transform: uppercase;
}

/* line 217, ../scss/_default.scss */
nav a:hover,
nav .current a {
  color: #ffa500;
}

/*=====================> Content ========================*/
/* #content {min-height: 1500px;} */
/* line 225, ../scss/_default.scss */
.cont_pad {
  padding: 0 0 0 0 !important;
}

/* line 228, ../scss/_default.scss */
.content {
  padding: 20px 0 200px;
}

/* line 232, ../scss/_default.scss */
.content__inner {
  padding-left: 90px;
  padding-right: 90px;
}

/* line 238, ../scss/_default.scss */
.content__inner--2 {
  padding-left: 200px;
  padding-right: 200px;
}

/* line 246, ../scss/_default.scss */
.extra-product__img {
  width: 210px;
}
/* line 250, ../scss/_default.scss */
.extra-product .extra-feat-icon {
  display: block;
}
/* line 253, ../scss/_default.scss */
.extra-product .extra-feat-icon img {
  width: 100%;
  height: auto;
}
/* line 260, ../scss/_default.scss */
.extra-product__caption {
  padding-left: 50px;
}

/* ---------------
  Home page
------------------- */
/* line 270, ../scss/_default.scss */
.home-content {
  min-height: calc(100% - 210px);
  width: 100%;
  background-color: #000000;
}

/* line 276, ../scss/_default.scss */
.home-content__left {
  text-align: right;
  width: 46%;
  padding-right: 70px;
  vertical-align: bottom;
  padding-bottom: 20px;
}

/* line 285, ../scss/_default.scss */
.home-product {
  max-width: 50%;
  text-align: center;
  display: inline-block;
}

/* line 291, ../scss/_default.scss */
.home-content__right {
  background: url(../images/home-bg.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 54%;
  padding: 5%;
  text-align: center;
  vertical-align: middle;
}

/* line 301, ../scss/_default.scss */
.promocode-input {
  border: 2px solid #d1d3d4;
  background-color: #ffffff;
  width: 230px;
  height: 44px;
  border-radius: 40px !important;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  padding: 0 65px 0 24px;
}

/* line 314, ../scss/_default.scss */
.promocode-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #ed1c2e url(../images/sbm-btn-icon.png) 50% 50% no-repeat;
  background-size: 50% auto;
  display: block;
  top: 50%;
  margin-top: -28px;
  right: 0;
  position: absolute;
}

/* line 329, ../scss/_default.scss */
.promocode-btn:hover {
  background-color: #eb4e5c;
}

/* line 335, ../scss/_default.scss */
.home-fullscreen-banner {
  background: url(../images/home-fullscreen-banner-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  display: table;
  position: relative;
}
/* line 343, ../scss/_default.scss */
.home-fullscreen-banner::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #000;
  content: "";
}
/* line 355, ../scss/_default.scss */
.home-fullscreen-banner__content {
  position: relative;
  z-index: 1;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* ---------------
  Prizes page
------------------- */
/* line 366, ../scss/_default.scss */
.prizes-page {
  background: url(../images/prizes-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
}

/* line 376, ../scss/_default.scss */
.prize__item {
  width: 50%;
  float: left;
  text-align: center;
}

/* line 382, ../scss/_default.scss */
.prize__item__img {
  line-height: 227px;
  vertical-align: middle;
}

/* line 387, ../scss/_default.scss */
.prize__item__img img {
  vertical-align: middle;
}

/* line 392, ../scss/_default.scss */
.additional-section {
  background-color: #fff;
  padding: 20px 0;
}

/* line 397, ../scss/_default.scss */
input.promo-form__input {
  width: 195px;
  height: 38px;
  border-radius: 7px;
  border: 1px solid #7e7e7e;
  background-color: rgba(255, 165, 0, 0);
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  color: #000;
  font-size: 14px;
}

/* line 410, ../scss/_default.scss */
.promo-form__btn {
  width: 198px;
  margin-left: 20px;
}

/* ---------------
  Winners page
------------------- */
/* line 419, ../scss/_default.scss */
.winners-page {
  background: url(../images/winnners-page-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
}

/* line 424, ../scss/_default.scss */
.winners {
  /* padding: 0 140px 0 90px; */
}

/* line 428, ../scss/_default.scss */
.winners-list dt {
  color: #ffa500;
  font-size: 24px;
}

/* line 433, ../scss/_default.scss */
.winners-list dd {
  font-size: 14px;
  margin-bottom: 4px;
}

/* ---------------
  Faq page
------------------- */
/* line 442, ../scss/_default.scss */
.faq-list dt {
  cursor: pointer;
  color: #ffa500;
  font-size: 34px;
  text-decoration: underline;
  margin-top: 10px;
}

/* line 450, ../scss/_default.scss */
.faq-list dd {
  padding-top: 14px;
  display: none;
}

/* ---------------
  Personal page
------------------- */
/* line 459, ../scss/_default.scss */
.user-prizes-list span {
  display: inline-block;
  margin: 0 20px 15px;
}

/* line 464, ../scss/_default.scss */
.user-prizes-list li {
  margin-bottom: 20px;
}

/* line 468, ../scss/_default.scss */
.personal-box {
  margin-left: -33px;
  margin-right: -33px;
}

/* line 472, ../scss/_default.scss */
.personal-box__col {
  width: calc(50% - 66px);
  margin: 0 33px;
  float: left;
}

/* ---------------
  Personal page
------------------- */
/* line 483, ../scss/_default.scss */
.products-wrap {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 487, ../scss/_default.scss */
.product-item {
  width: calc(33.3% - 30px);
  margin: 0 15px;
  float: left;
  padding: 0 10px 0 0;
}

/* line 494, ../scss/_default.scss */
.product-item__img {
  margin-right: 20px;
  padding-top: 20px;
}

/* ---------------
  Search result page
------------------- */
/* line 502, ../scss/_default.scss */
.search-result__list {
  max-height: 322px;
  overflow: auto;
}
/* line 506, ../scss/_default.scss */
.search-result__list-wrap {
  width: 40%;
  float: left;
}
/* line 510, ../scss/_default.scss */
.search-result__list-wrap .form__input input {
  background: #fff url(../images/search-loop-icon.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  border-radius: 3px;
  padding-right: 40px;
}
/* line 519, ../scss/_default.scss */
.search-result__list li {
  margin-bottom: 30px;
}

/* line 524, ../scss/_default.scss */
.search-result__map-wrap {
  padding-left: 20px;
}

/* line 529, ../scss/_default.scss */
.map_search_form {
  width: 486px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 540, ../scss/_default.scss */
.map_search_form .form__input {
  border: none;
}
/* line 543, ../scss/_default.scss */
.map_search_form .form__input input {
  background: #fff url(../images/search-loop-icon.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 16px auto;
  background-size: 16px auto;
  border-radius: 3px;
  border: none;
}

/* line 553, ../scss/_default.scss */
.map_search_list {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  max-height: 200px;
  overflow: auto;
  font-size: 14px;
  text-transform: uppercase;
  margin: 3px 0 0;
  padding: 10px 0;
}
/* line 564, ../scss/_default.scss */
.map_search_list li {
  padding: 7px 15px;
  cursor: pointer;
  color: #000;
}
/* line 569, ../scss/_default.scss */
.map_search_list li:hover, .map_search_list li.active {
  background-color: #ffa500;
  color: #000;
}

/* ---------------
  Catalog page
------------------- */
/* line 582, ../scss/_default.scss */
.catalog {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 587, ../scss/_default.scss */
.catalog__item {
  width: calc(33.3% - 40px);
  margin: 0 20px;
  float: left;
  text-align: center;
}
/* line 593, ../scss/_default.scss */
.catalog__item__title {
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
/* line 600, ../scss/_default.scss */
.catalog__item__imgs {
  position: relative;
  min-height: 180px;
  margin: 0 40px;
}
/* line 606, ../scss/_default.scss */
.catalog__item__features {
  margin-bottom: 17px;
}
/* line 610, ../scss/_default.scss */
.catalog__item__content {
  padding: 0 40px;
}

/* line 616, ../scss/_default.scss */
.owl-buttons div {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  width: 21px;
  height: 35px;
  cursor: pointer;
}
/* line 625, ../scss/_default.scss */
.owl-buttons .owl-prev {
  background: url(../images/navigation-prev.png) 50% 0 no-repeat;
  background-size: cover;
  left: 0px;
}
/* line 630, ../scss/_default.scss */
.owl-buttons .owl-next {
  background: url(../images/navigation-next.png) 50% 0 no-repeat;
  background-size: cover;
  right: 0px;
}

/* line 639, ../scss/_default.scss */
.catalog-list__item {
  margin-bottom: 20px;
}
/* line 642, ../scss/_default.scss */
.catalog-list__item-title {
  margin-bottom: 2px;
  position: relative;
}
/* line 646, ../scss/_default.scss */
.catalog-list__item-title::before {
  background: url(../images/title-arrow.png) 0 0 no-repeat;
  background-size: cover;
  width: 11px;
  height: 18px;
  position: absolute;
  display: block;
  top: 12px;
  left: -25px;
  content: "";
}
/* line 661, ../scss/_default.scss */
.catalog-list__content {
  position: relative;
  padding: 15px 0 0 50px;
}

/* line 667, ../scss/_default.scss */
.scroll_section {
  line-height: 70px;
  background-color: #0e1922;
}
/* line 671, ../scss/_default.scss */
.scroll_section img {
  vertical-align: middle;
  -webkit-animation: mymove 1.5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0% {
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/* Standard syntax */
@keyframes mymove {
  0% {
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
/*=====================> Paragraphs ========================*/
/* line 729, ../scss/_default.scss */
p {
  margin-bottom: 18px;
}

/* line 730, ../scss/_default.scss */
.mb1 {
  margin-bottom: 1px;
}

/* line 731, ../scss/_default.scss */
.mb2 {
  margin-bottom: 2px;
}

/* line 732, ../scss/_default.scss */
.mb3 {
  margin-bottom: 3px;
}

/* line 733, ../scss/_default.scss */
.mb4 {
  margin-bottom: 4px;
}

/* line 734, ../scss/_default.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 735, ../scss/_default.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 736, ../scss/_default.scss */
.mb7 {
  margin-bottom: 7px;
}

/* line 737, ../scss/_default.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 738, ../scss/_default.scss */
.mb9 {
  margin-bottom: 9px;
}

/* line 739, ../scss/_default.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 740, ../scss/_default.scss */
.mb11 {
  margin-bottom: 11px;
}

/* line 741, ../scss/_default.scss */
.mb12 {
  margin-bottom: 12px;
}

/* line 742, ../scss/_default.scss */
.mb13 {
  margin-bottom: 13px;
}

/* line 743, ../scss/_default.scss */
.mb14 {
  margin-bottom: 14px;
}

/* line 744, ../scss/_default.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 745, ../scss/_default.scss */
.mb16 {
  margin-bottom: 16px;
}

/* line 746, ../scss/_default.scss */
.mb17 {
  margin-bottom: 17px;
}

/* line 747, ../scss/_default.scss */
.mb18 {
  margin-bottom: 18px;
}

/* line 748, ../scss/_default.scss */
.mb19 {
  margin-bottom: 19px;
}

/* line 749, ../scss/_default.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 750, ../scss/_default.scss */
.mb21 {
  margin-bottom: 21px;
}

/* line 751, ../scss/_default.scss */
.mb22 {
  margin-bottom: 22px;
}

/* line 752, ../scss/_default.scss */
.mb23 {
  margin-bottom: 23px;
}

/* line 753, ../scss/_default.scss */
.mb24 {
  margin-bottom: 24px;
}

/* line 754, ../scss/_default.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 755, ../scss/_default.scss */
.mb26 {
  margin-bottom: 26px;
}

/* line 756, ../scss/_default.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 757, ../scss/_default.scss */
.mb28 {
  margin-bottom: 28px;
}

/* line 758, ../scss/_default.scss */
.mb29 {
  margin-bottom: 29px;
}

/* line 759, ../scss/_default.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 760, ../scss/_default.scss */
.mb31 {
  margin-bottom: 31px;
}

/* line 761, ../scss/_default.scss */
.mb32 {
  margin-bottom: 32px;
}

/* line 762, ../scss/_default.scss */
.mb33 {
  margin-bottom: 33px;
}

/* line 763, ../scss/_default.scss */
.mb34 {
  margin-bottom: 34px;
}

/* line 764, ../scss/_default.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 765, ../scss/_default.scss */
.mb36 {
  margin-bottom: 36px;
}

/* line 766, ../scss/_default.scss */
.mb37 {
  margin-bottom: 37px;
}

/* line 767, ../scss/_default.scss */
.mb38 {
  margin-bottom: 38px;
}

/* line 768, ../scss/_default.scss */
.mb39 {
  margin-bottom: 39px;
}

/* line 769, ../scss/_default.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 770, ../scss/_default.scss */
.mb41 {
  margin-bottom: 41px;
}

/* line 771, ../scss/_default.scss */
.mb42 {
  margin-bottom: 42px;
}

/* line 772, ../scss/_default.scss */
.mb43 {
  margin-bottom: 43px;
}

/* line 773, ../scss/_default.scss */
.mb44 {
  margin-bottom: 44px;
}

/* line 774, ../scss/_default.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 775, ../scss/_default.scss */
.mb46 {
  margin-bottom: 46px;
}

/* line 776, ../scss/_default.scss */
.mb47 {
  margin-bottom: 47px;
}

/* line 777, ../scss/_default.scss */
.mb48 {
  margin-bottom: 48px;
}

/* line 778, ../scss/_default.scss */
.mb49 {
  margin-bottom: 49px;
}

/* line 779, ../scss/_default.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 780, ../scss/_default.scss */
.mb51 {
  margin-bottom: 51px;
}

/* line 781, ../scss/_default.scss */
.mb52 {
  margin-bottom: 52px;
}

/* line 782, ../scss/_default.scss */
.mb53 {
  margin-bottom: 53px;
}

/* line 783, ../scss/_default.scss */
.mb54 {
  margin-bottom: 54px;
}

/* line 784, ../scss/_default.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 785, ../scss/_default.scss */
.mb58 {
  margin-bottom: 58px;
}

/* line 786, ../scss/_default.scss */
.mb62 {
  margin-bottom: 62px;
}

/* line 787, ../scss/_default.scss */
.mb72 {
  margin-bottom: 72px;
}

/* line 788, ../scss/_default.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 789, ../scss/_default.scss */
.mb80 {
  margin-bottom: 80px;
}

/*=====================> Lists ========================*/
/* line 793, ../scss/_default.scss */
.list1 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/* line 800, ../scss/_default.scss */
.list2 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/* line 807, ../scss/_default.scss */
.list3 li {
  background: url(../images/marker1.png) 0 7px no-repeat;
  padding-left: 20px;
}

/*=====================> Titles ========================*/
/* line 814, ../scss/_default.scss */
h2, h3, h4 {
  font-weight: normal;
}

/* line 817, ../scss/_default.scss */
.title1 {
  font-size: 48px;
  line-height: 1.15;
  font-weight: normal;
}

/* line 823, ../scss/_default.scss */
.title2 {
  font-size: 34px;
  line-height: 1.23;
}

/* line 828, ../scss/_default.scss */
.title2_1 {
  font-size: 28px;
  line-height: 1.23;
}

/* line 833, ../scss/_default.scss */
sup {
  font-size: 12px;
  vertical-align: super;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 2px;
}

/* line 841, ../scss/_default.scss */
.title3 {
  font-size: 24px;
  line-height: 1.23;
}

/* line 846, ../scss/_default.scss */
.title3_1 {
  font-size: 21px;
  line-height: 1.23;
}

/* line 851, ../scss/_default.scss */
.title4 {
  font-size: 18px;
  line-height: 1.23;
}

/* line 856, ../scss/_default.scss */
.title5 {
  font-size: 16px;
  line-height: 1.23;
}

/*================================>> FONTS  <<========================================*/
/* line 863, ../scss/_default.scss */
.bold {
  font-family: 'Stag Sans LC Medium';
  font-weight: 500;
}

/* line 868, ../scss/_default.scss */
.light {
  font-family: 'Stag Sans LC Light';
  font-weight: 300;
}

/* line 873, ../scss/_default.scss */
.regular {
  font-weight: normal;
}

/* line 877, ../scss/_default.scss */
.font-16 {
  font-size: 16px;
}

/*================================>> hovers <<========================================*/
/* line 883, ../scss/_default.scss */
a,
button {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 890, ../scss/_default.scss */
a:hover,
button:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*================================>> Form Elements <<========================================*/
/* line 902, ../scss/_default.scss */
select {
  /* Style for "Shape 1" */
  width: 230px;
  height: 38px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #7e7e7e;
  background: #fff url(../images/select-arrow.png) calc(100% - 15px) 50% no-repeat;
  -webkit-background-size: 14px 12px;
  background-size: 14px 12px;
  padding: 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/* line 918, ../scss/_default.scss */
select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

/* line 922, ../scss/_default.scss */
.form__select select {
  text-transform: uppercase;
  border-color: #7f7f7f;
  width: 100%;
}

/* line 928, ../scss/_default.scss */
.form__row {
  margin-bottom: 20px;
}

/* line 953, ../scss/_default.scss */
.form__input input,
.form__textarea textarea {
  text-transform: uppercase;
}

/* line 963, ../scss/_default.scss */
.form__cols-wrap {
  margin-left: -8px;
  margin-right: -8px;
}

/* line 968, ../scss/_default.scss */
.form__col {
  width: calc(50% - 16px);
  margin: 0 8px;
  float: left;
}

/* line 974, ../scss/_default.scss */
.msg_field {
  overflow: auto;
  width: 433px;
  height: 172px;
  resize: none;
  float: left;
  margin: 0 0 0 0;
}

/* line 983, ../scss/_default.scss */
#contact-form .error, #contact-form .empty, #contact-form .success {
  display: none;
}

/* line 984, ../scss/_default.scss */
#contact-form .error, #contact-form .empty {
  text-align: left;
  color: red;
  font-size: 11px;
  position: absolute;
  right: 10px;
  top: 5px;
}

/* line 992, ../scss/_default.scss */
#contact-form .buttons2 {
  overflow: hidden;
  text-align: right;
  position: relative;
  clear: both;
  padding-top: 25px;
}

/* line 999, ../scss/_default.scss */
#contact-form .buttons2 a {
  cursor: pointer;
  margin-top: 0;
  text-align: center;
}

/* line 1004, ../scss/_default.scss */
#contact-form span {
  display: block;
  margin: 0px 0 0 5px;
}

/* line 1009, ../scss/_default.scss */
.map_wrapper {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 26px;
}

/*================================>> Contacts Info <<========================================*/
/* line 1017, ../scss/_default.scss */
#map_canvas {
  width: 411px;
  height: 237px;
}

/* line 1022, ../scss/_default.scss */
.adress span {
  display: inline-block;
}

/* line 1025, ../scss/_default.scss */
.adress dt {
  margin-bottom: 14px;
}

/*================================>> Footer <<========================================*/
/* line 1028, ../scss/_default.scss */
footer {
  padding: 22px 0 26px;
  background-color: #000;
  color: #9c9d9d;
}

/* line 1034, ../scss/_default.scss */
footer a:hover {
  color: #fff;
}

/* line 1038, ../scss/_default.scss */
.footer-inner {
  width: 100%;
  vertical-align: middle;
}

/* line 1043, ../scss/_default.scss */
.footer-nav__list li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
}

/* line 1049, ../scss/_default.scss */
.footer-nav__list a {
  color: #9c9d9d;
  text-transform: uppercase;
}

/* line 1054, ../scss/_default.scss */
.footer-nav__list a:hover,
.footer-nav__list .current a {
  color: #ffa500;
}

/* line 1060, ../scss/_default.scss */
.footer-copyright,
.footer-social {
  width: 30%;
}

/* line 1065, ../scss/_default.scss */
.footer-nav {
  width: 40%;
}

/* line 1069, ../scss/_default.scss */
.social-btn {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-left: 10px;
}

/* line 1075, ../scss/_default.scss */
.social-btn img,
.content-img {
  max-width: 100%;
  height: auto;
}

/*============================= Easy responsive tabs ============================*/
/* line 1083, ../scss/_default.scss */
.resp-tabs-list li {
  line-height: 47px;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  display: inline-block;
  padding: 0 15px;
  color: #ffa500;
  font-size: 24px;
}
/* line 1093, ../scss/_default.scss */
.resp-tabs-list li:hover, .resp-tabs-list li.resp-tab-active {
  background-color: #ffa500;
  color: #000;
}

/* line 1100, ../scss/_default.scss */
.resp-tabs-container {
  padding: 20px 0;
}

/* line 1105, ../scss/_default.scss */
.fancybox {
  display: inline-block;
}
/* line 1108, ../scss/_default.scss */
.fancybox img {
  max-width: 100%;
  height: auto;
}
/* line 1113, ../scss/_default.scss */
.fancybox--video {
  position: relative;
}
/* line 1116, ../scss/_default.scss */
.fancybox--video::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) url(../images/play-icon.png) 50% 50% no-repeat;
  background-size: 32px auto;
  content: "";
}
/* line 1127, ../scss/_default.scss */
.fancybox--video:hover::before {
  background-size: 40px auto;
}

/* line 1134, ../scss/_default.scss */
h2.resp-accordion {
  display: none;
}

/* line 1138, ../scss/_default.scss */
.resp-tab-content {
  display: none;
}

/* line 1142, ../scss/_default.scss */
.resp-content-active, .resp-accordion-active {
  display: block;
}

/* line 1146, ../scss/_default.scss */
.resp-easy-accordion h2.resp-accordion {
  display: block;
}

/* line 1150, ../scss/_default.scss */
.resp-tab-content-active {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* line 1156, ../scss/_default.scss */
  ul.resp-tabs-list {
    display: none;
  }

  /* line 1160, ../scss/_default.scss */
  h2.resp-accordion {
    display: block;
  }

  /* line 1165, ../scss/_default.scss */
  .resp-accordion-closed {
    display: none !important;
  }
}
/*============================ Arctic modal =============================*/
/* line 1173, ../scss/_default.scss */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* line 1175, ../scss/_default.scss */
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

/* line 1176, ../scss/_default.scss */
*:first-child + html .arcticmodal-container {
  height: 100%;
}

/* line 1177, ../scss/_default.scss */
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
}

/* line 1178, ../scss/_default.scss */
.arcticmodal-container_i2 {
  padding: 24px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

/* line 1179, ../scss/_default.scss */
.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}

/* line 1180, ../scss/_default.scss */
.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #000 url(loading.gif) no-repeat 50% 50%;
}

/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */
/* clearfix */
/* line 1190, ../scss/_default.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 1199, ../scss/_default.scss */
.owl-carousel {
  display: none;
  position: relative;
  -ms-touch-action: pan-y;
}

/* line 1205, ../scss/_default.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 1210, ../scss/_default.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 1215, ../scss/_default.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 1223, ../scss/_default.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 1226, ../scss/_default.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 1230, ../scss/_default.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
/* line 1240, ../scss/_default.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 1245, ../scss/_default.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*FORMS - ╤Д╨╛╤А╨╝╤Л*/
/* line 65, ../scss/_forms.scss */
::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

/* line 69, ../scss/_forms.scss */
::-moz-placeholder {
  color: #000;
  opacity: 1;
}

/* line 73, ../scss/_forms.scss */
:-moz-placeholder {
  color: #000;
  opacity: 1;
}

/* line 77, ../scss/_forms.scss */
:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

/* line 83, ../scss/_forms.scss */
.form {
  margin: 20px 0 0;
}
/* line 86, ../scss/_forms.scss */
.form__label {
  display: block;
  color: inherit;
  vertical-align: middle;
  font-size: 14px;
  line-height: 38px;
  font-weight: normal;
  margin: 0 0 0 0;
}
/* line 100, ../scss/_forms.scss */
.form__row {
  margin: 0 0 28px 0;
  position: relative;
}
/* line 105, ../scss/_forms.scss */
.form__input {
  background: #fff;
  height: 38px;
  position: relative;
  border: 1px solid #7f7f7f;
  box-shadow: none;
  border-radius: 5px;
  color: #000;
}
/* line 114, ../scss/_forms.scss */
.form__input input {
  font-family: 'Stag Sans LC Book', sans-serif;
  color: inherit;
  font-size: 14px;
  line-height: 38px;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  height: inherit;
  padding: 0 15px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
}
/* line 132, ../scss/_forms.scss */
.form__textarea {
  background: #fff;
  height: 152px;
  position: relative;
  border: 1px solid #7f7f7f;
  box-shadow: none;
  border-radius: 5px;
  color: #000;
}
/* line 141, ../scss/_forms.scss */
.form__textarea textarea {
  font-family: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  z-index: 2;
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px;
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  resize: none;
}
/* line 160, ../scss/_forms.scss */
.form__checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
/* line 165, ../scss/_forms.scss */
.form__checkbox:first-child {
  margin-left: 0;
}
/* line 169, ../scss/_forms.scss */
.form__checkbox input {
  box-shadow: none;
  width: 30px;
  height: 30px;
  border: 1px solid #7e7e7e;
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  border-radius: 5px;
}
/* line 182, ../scss/_forms.scss */
.form__checkbox input:checked {
  background: url(../images/checkbox-arrow.png) 50% 50% no-repeat;
  background-size: 15px auto;
  border: 1px solid #7e7e7e;
}
/* line 190, ../scss/_forms.scss */
.form__radio {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
/* line 195, ../scss/_forms.scss */
.form__radio:first-child {
  margin-left: 0;
}
/* line 199, ../scss/_forms.scss */
.form__radio input {
  display: none;
}
/* line 203, ../scss/_forms.scss */
.form__radio span.fake-radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #7e7e7e;
}
/* line 213, ../scss/_forms.scss */
.form__radio span.fake-radio::before {
  box-shadow: none;
  display: none;
  border-radius: 15px;
  background: #ffa500;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  outline: none;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 6px;
  left: 6px;
  content: "";
}
/* line 232, ../scss/_forms.scss */
.form__radio input:checked + span.fake-radio::before {
  display: block;
}
/* line 240, ../scss/_forms.scss */
.form__radio input:checked {
  background: #ffa500;
  border: 1px solid #7e7e7e;
}
/* line 290, ../scss/_forms.scss */
.form__elem--str {
  display: inline-block;
}
/* line 292, ../scss/_forms.scss */
.form__elem--str .form__label {
  display: inline-block;
}
/* line 298, ../scss/_forms.scss */
.form__alert {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  color: #999;
  display: none;
}
/* line 306, ../scss/_forms.scss */
.form__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 14px;
  display: none;
}
/* line 315, ../scss/_forms.scss */
.form__control--error .form__error {
  display: block;
}
/* line 319, ../scss/_forms.scss */
.form__control--error .form__input {
  border-color: #f00;
}
/* line 323, ../scss/_forms.scss */
.form__control--error .form__textarea {
  border-color: #f00;
}
/* line 327, ../scss/_forms.scss */
.form__control--error .form__select select {
  border-color: #f00;
}
/* line 331, ../scss/_forms.scss */
.form__control--error .form__select:after {
  border-top-color: #f00;
}
/* line 337, ../scss/_forms.scss */
.form table {
  width: 100%;
}
/* line 341, ../scss/_forms.scss */
.form__description {
  font-size: 10px;
}

/* line 346, ../scss/_forms.scss */
.required {
  position: relative;
}
/* line 349, ../scss/_forms.scss */
.required::before {
  content: "*";
  position: absolute;
  left: -20px;
  font-size: 24px;
  line-height: 1;
  top: 50%;
  margin-top: -8px;
  color: #000;
}

/* line 361, ../scss/_forms.scss */
.radio__label,
.checkbox_label {
  font-size: 14px;
  color: #9c9d9d;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

/* line 371, ../scss/_forms.scss */
.checkbox__label,
.form__elem--str {
  display: inline-block;
  vertical-align: middle;
}

/* line 377, ../scss/_forms.scss */
.checkbox__label {
  margin-left: 5px;
}

/*TABS - ╤В╨░╨▒╤Л*/
/*MODALS - ╨╝╨╛╨┤╨░╨╗╤М╨╜╤Л╨╡ ╨╛╨║╨╜╨░*/
/* line 44, ../scss/_modals.scss */
.body-modal {
  overflow: hidden;
}

/* line 48, ../scss/_modals.scss */
.modal {
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1001;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  display: none;
  font-size: 12px;
  line-height: 1.23;
  color: #000;
}
/* line 50, ../scss/_modals.scss */
.modals__fog {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 1000;
}
/* line 78, ../scss/_modals.scss */
.modal--auth .modal__body {
  width: 528px;
}
/* line 85, ../scss/_modals.scss */
.modal--modal--registration-thx .modal__body, .modal--modal--registration-congratulation .modal__body {
  width: 624px;
}
/* line 90, ../scss/_modals.scss */
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}
/* line 98, ../scss/_modals.scss */
.modal__body {
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 900px;
  box-sizing: border-box;
  display: inline-block;
  background: #fff;
  text-align: center;
  border: none;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: none;
}
/* line 113, ../scss/_modals.scss */
.modal__header {
  padding: 4px;
  border-bottom: none;
}
/* line 118, ../scss/_modals.scss */
.modal__content {
  padding: 0;
}
/* line 121, ../scss/_modals.scss */
.modal__content__cols-wrap {
  margin-left: -45px;
  margin-right: -45px;
}
/* line 126, ../scss/_modals.scss */
.modal__content__col {
  width: calc(50% - 90px);
  float: left;
  margin-left: 45px;
  margin-right: 45px;
}
/* line 134, ../scss/_modals.scss */
.modal__footer {
  padding: 0;
  border-top: none;
  margin: 0;
}
/* line 140, ../scss/_modals.scss */
.modal__close {
  position: absolute;
  z-index: 1;
  right: 26px;
  top: 16px;
  background: url(../images/modal-close.png) 50% 50% no-repeat;
  background-size: 100% auto;
  width: 27px;
  height: 27px;
}
/* line 151, ../scss/_modals.scss */
.modal__title {
  font-family: inherit;
  font-size: 34px;
  line-height: 1.23;
  text-align: center;
  font-weight: bold;
  color: #ffa500;
  letter-spacing: -1px;
}
/* line 161, ../scss/_modals.scss */
.modal .form__label {
  display: none;
}
/* line 167, ../scss/_modals.scss */
.modal--registration .form {
  padding: 0 150px;
}
/* line 174, ../scss/_modals.scss */
.modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text {
  padding: 0 100px 20px;
  line-height: 24px;
}
/* line 179, ../scss/_modals.scss */
.modal--registration-thx .modal__subtitle, .modal--registration-congratulation .modal__subtitle {
  margin-bottom: 30px;
}
/* line 185, ../scss/_modals.scss */
.modal--auth .form {
  padding: 0 130px;
}
/* line 206, ../scss/_modals.scss */
.modal .form select option:disabled {
  color: #9c9d9d;
}
/* line 212, ../scss/_modals.scss */
.modal__comment {
  font-size: 14px;
}
/* line 216, ../scss/_modals.scss */
.modal__subtitle {
  margin-bottom: 2px;
}

/*SOCIAL - ╤Б╨╛╤Ж╨╕╨░╨╗╤М╨╜╤Л╨╡ ╨║╨╜╨╛╨┐╨║╨╕*/
/* line 1, ../scss/_social.scss */
.social {
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin: 15px 0 20px;
}
/* line 7, ../scss/_social.scss */
.social__item {
  display: inline-block;
  margin: 0 19px;
  font-size: 14px;
  line-height: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  opacity: .9;
}
/* line 20, ../scss/_social.scss */
.social__item:hover {
  opacity: 1;
}
/* line 24, ../scss/_social.scss */
.social__item--vk {
  background: url(../images/vk-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}
/* line 28, ../scss/_social.scss */
.social__item--ok {
  background: url(../images/ok-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}
/* line 32, ../scss/_social.scss */
.social__item--fb {
  background: url(../images/fb-social-icon.png) 50% 50% no-repeat;
  background-size: cover;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1450px) {
  /* line 3, ../scss/_responsive.scss */
  .home-content__left {
    padding-right: 20px;
  }

  /* line 7, ../scss/_responsive.scss */
  .home-product {
    max-width: 80%;
  }
  /* line 10, ../scss/_responsive.scss */
  .home-product img {
    max-width: 60%;
  }
}
@media only screen and (max-width: 1100px) {
  /* line 20, ../scss/_responsive.scss */
  .home-content__left {
    padding-right: 0px;
    text-align: center;
  }

  /* line 25, ../scss/_responsive.scss */
  .modal__body {
    max-width: calc(100% - 40px);
  }

  /* line 29, ../scss/_responsive.scss */
  .modal--registration .form {
    padding: 0 50px;
  }

  /* line 33, ../scss/_responsive.scss */
  .home-product {
    max-width: 100%;
  }
}
@media only screen and (max-width: 995px) {
  /* line 41, ../scss/_responsive.scss */
  body {
    padding-top: 64px;
  }

  /* line 45, ../scss/_responsive.scss */
  .home-content,
  .home-content > *,
  .home-content__left > * {
    display: block;
    width: auto;
  }

  /* line 56, ../scss/_responsive.scss */
  .home-content > * {
    padding: 50px;
  }

  /* line 60, ../scss/_responsive.scss */
  .home-products {
    overflow: hidden;
  }

  /* line 63, ../scss/_responsive.scss */
  .home-product__item {
    display: block;
    text-align: center;
    float: left;
    width: calc(33.3% - 10px);
  }

  /* line 70, ../scss/_responsive.scss */
  .home-step__item {
    font-size: 14px;
  }

  /* line 74, ../scss/_responsive.scss */
  .footer-nav__list li {
    margin: 0 5px;
  }

  /* line 78, ../scss/_responsive.scss */
  .container {
    padding: 0 20px;
  }

  /* line 82, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item:first-child ~ .home-step__item {
    padding-left: 45px;
  }

  /* line 86, ../scss/_responsive.scss */
  .home-step__item {
    padding-right: 20px;
    margin-bottom: 20px;
  }

  /* line 91, ../scss/_responsive.scss */
  .content__inner--2,
  .content__inner {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 97, ../scss/_responsive.scss */
  .content {
    padding-bottom: 40px;
  }

  /* line 101, ../scss/_responsive.scss */
  .page_wrap {
    min-height: 0;
    margin-bottom: 0;
  }

  /* line 106, ../scss/_responsive.scss */
  .faq-list dt {
    font-size: 24px;
  }

  /* line 111, ../scss/_responsive.scss */
  .products-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 115, ../scss/_responsive.scss */
  .product-item {
    width: auto;
    margin: 0 0 20px;
  }

  /* line 120, ../scss/_responsive.scss */
  .product-item__img {
    padding-top: 0;
  }

  /* line 124, ../scss/_responsive.scss */
  .catalog__item__imgs {
    margin: 0 20px;
  }

  /* line 129, ../scss/_responsive.scss */
  .resp-toggle-btn {
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -8px;
    right: 20px;
    background-color: #ffa500;
    border-radius: 3px;
  }

  /* line 143, ../scss/_responsive.scss */
  .resp-toggle-btn span {
    display: block;
    position: absolute;
    height: 2px;
    left: 8px;
    right: 8px;
    background-color: #fff;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  /* line 156, ../scss/_responsive.scss */
  .resp-toggle-btn span.line1 {
    top: 11px;
  }

  /* line 160, ../scss/_responsive.scss */
  .resp-toggle-btn span.line2 {
    top: 19px;
  }

  /* line 164, ../scss/_responsive.scss */
  .menu > .hasUl > a::after {
    right: 22px;
  }

  /* line 168, ../scss/_responsive.scss */
  .resp-toggle-btn span.line3 {
    top: 27px;
  }

  /* line 172, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span {
    left: 6px;
    right: 6px;
  }

  /* line 177, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line1 {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px;
  }

  /* line 186, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line2 {
    opacity: 0;
  }

  /* line 190, ../scss/_responsive.scss */
  .navTrue .resp-toggle-btn span.line3 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
  }

  /* line 199, ../scss/_responsive.scss */
  nav {
    position: fixed;
    left: 100%;
    top: 60px;
    width: 280px;
    height: 100%;
    z-index: 999;
    padding: 0;
    overflow: auto;
    background-color: #231f20;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  /* line 401, ../sass/_header.scss */
  /* line 217, ../scss/_responsive.scss */
  .navTrue nav {
    left: calc(100% - 280px);
  }

  /* line 405, ../sass/_header.scss */
  /* line 222, ../scss/_responsive.scss */
  nav li,
  nav li.menu__item {
    float: none;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  /* line 412, ../sass/_header.scss */
  /* line 233, ../scss/_responsive.scss */
  nav .menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
  }

  /* line 417, ../sass/_header.scss */
  /* line 241, ../scss/_responsive.scss */
  .nav_overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    color: #fff;
    background-color: #000;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  /* line 434, ../sass/_header.scss */
  /* line 260, ../scss/_responsive.scss */
  .navTrue .nav_overlay {
    opacity: .7;
    visibility: visible;
  }

  /* line 265, ../scss/_responsive.scss */
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 60px;
  }

  /* line 275, ../scss/_responsive.scss */
  .social-btn {
    margin-left: 5px;
  }

  /* line 279, ../scss/_responsive.scss */
  .modal__content__col {
    float: none;
    width: auto;
    margin: 0;
  }

  /* line 285, ../scss/_responsive.scss */
  .modal__content__cols-wrap {
    margin: 0;
  }

  /* line 289, ../scss/_responsive.scss */
  .modal--registration .form,
  .modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text,
  .modal--auth .form {
    padding: 0 30px;
  }

  /* line 296, ../scss/_responsive.scss */
  .catalog__item,
  .search-result__list-wrap {
    float: none;
    width: auto;
    margin-bottom: 40px;
  }

  /* line 303, ../scss/_responsive.scss */
  .search-result__map-wrap {
    padding-left: 0;
  }

  /* line 308, ../scss/_responsive.scss */
  .menu,
  .header-auth-btns {
    float: none;
  }

  /* line 313, ../scss/_responsive.scss */
  .header-auth-btns {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  /* line 319, ../scss/_responsive.scss */
  .header-auth-btns a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: underline;
    color: #fff;
  }

  /* line 327, ../scss/_responsive.scss */
  .logo {
    left: 20px;
  }
  /* line 330, ../scss/_responsive.scss */
  .logo img {
    margin-top: -40px;
  }

  /* line 336, ../scss/_responsive.scss */
  .resp-tabs-list li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 345, ../scss/_responsive.scss */
  h2.resp-accordion {
    background-color: #ffa500;
    color: #000;
    padding: 10px 15px;
    margin-top: 1px;
    position: relative;
  }
  /* line 352, ../scss/_responsive.scss */
  h2.resp-accordion::before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 15px;
    content: "";
  }
  /* line 367, ../scss/_responsive.scss */
  h2.resp-accordion.resp-tab-active::before {
    border-bottom: 7px solid #000;
    border-top: none;
  }

  /* line 375, ../scss/_responsive.scss */
  .resp-tab-content {
    padding: 10px 15px 20px;
  }

  /* line 379, ../scss/_responsive.scss */
  .title1 {
    font-size: 38px;
  }

  /* line 383, ../scss/_responsive.scss */
  .title2 {
    font-size: 24px;
  }

  /* line 387, ../scss/_responsive.scss */
  .home-content__right {
    min-height: 0;
  }

  /* line 391, ../scss/_responsive.scss */
  .home-content > * {
    padding: 20px;
  }

  /* line 396, ../scss/_responsive.scss */
  .home-fullscreen-banner__content {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 404, ../scss/_responsive.scss */
  .footer-inner,
  .footer-inner > * {
    display: block;
    width: auto;
    text-align: center;
  }

  /* line 411, ../scss/_responsive.scss */
  .footer-inner > * {
    margin-top: 10px;
  }

  /* line 415, ../scss/_responsive.scss */
  .winner__col {
    float: none;
    margin-bottom: 30px;
  }
  /* line 419, ../scss/_responsive.scss */
  .winner__col .title2 {
    margin-bottom: 15px;
  }

  /* line 424, ../scss/_responsive.scss */
  .prize__item {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }

  /* line 430, ../scss/_responsive.scss */
  .prize__item__img {
    line-height: 1;
  }

  /* line 435, ../scss/_responsive.scss */
  .catalog-list__item-img {
    float: none;
    width: 100%;
  }
  /* line 439, ../scss/_responsive.scss */
  .catalog-list__item-img img {
    width: 100%;
    height: auto;
  }

  /* line 445, ../scss/_responsive.scss */
  .catalog-list__content {
    padding-left: 27px;
  }

  /* line 449, ../scss/_responsive.scss */
  .catalog-list__item {
    margin-bottom: 30px;
  }

  /* line 453, ../scss/_responsive.scss */
  .extra-product__img {
    float: none;
    width: auto;
  }
  /* line 457, ../scss/_responsive.scss */
  .extra-product__img img {
    max-width: 50%;
  }

  /* line 462, ../scss/_responsive.scss */
  .extra-product__caption {
    padding-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  /* line 468, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item {
    float: none;
    width: auto;
    display: block;
    padding-left: 0 !important;
  }

  /* line 475, ../scss/_responsive.scss */
  .home-steps-wrap .home-step__item::before {
    display: none;
  }

  /* line 479, ../scss/_responsive.scss */
  .home-step__item__img {
    min-width: 80px;
    text-align: center;
  }

  /* line 485, ../scss/_responsive.scss */
  .home-product__item {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }

  /* line 491, ../scss/_responsive.scss */
  .home-products .home-product__item:last-child {
    margin-bottom: 0;
  }

  /* line 495, ../scss/_responsive.scss */
  .title1,
  .modal__title {
    font-size: 30px;
  }

  /* line 500, ../scss/_responsive.scss */
  .title3,
  .catalog__item__title {
    font-size: 20px;
  }

  /* line 506, ../scss/_responsive.scss */
  .faq-list dt {
    font-size: 18px;
  }

  /* line 510, ../scss/_responsive.scss */
  .promo-form {
    margin-bottom: -15px;
  }

  /* line 513, ../scss/_responsive.scss */
  .promo-form > * {
    margin: 0 10px 15px;
  }

  /* line 517, ../scss/_responsive.scss */
  .form__cols-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 522, ../scss/_responsive.scss */
  .form__col {
    float: none;
    width: auto;
    margin: 0;
  }

  /* line 528, ../scss/_responsive.scss */
  .home-content__right {
    background-position: 100% 0;
  }

  /* line 532, ../scss/_responsive.scss */
  .modal--registration .form, .modal--registration-thx .modal__text, .modal--registration-congratulation .modal__text {
    padding: 0 10px;
  }

  /* line 536, ../scss/_responsive.scss */
  .social__item {
    margin: 0 10px;
  }

  /* line 540, ../scss/_responsive.scss */
  .modal__close {
    right: 10px;
    top: 10px;
  }

  /* line 545, ../scss/_responsive.scss */
  .form__radio {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
  }

  /* line 551, ../scss/_responsive.scss */
  .form__elem--str > .radio__label {
    margin-bottom: 20px;
  }

  /* line 555, ../scss/_responsive.scss */
  .form__elem {
    overflow: hidden;
  }

  /* line 559, ../scss/_responsive.scss */
  .form__checkbox {
    float: left;
  }

  /* line 563, ../scss/_responsive.scss */
  .checkbox__label {
    overflow: hidden;
    display: block;
    text-align: left;
    padding-left: 10px;
  }

  /* line 570, ../scss/_responsive.scss */
  nav {
    width: 100%;
    left: 100%;
  }

  /* line 575, ../scss/_responsive.scss */
  .navTrue nav {
    left: 0;
  }

  /* line 579, ../scss/_responsive.scss */
  .logo {
    max-width: 200px;
  }

  /* line 585, ../scss/_responsive.scss */
  .extra-product__img img {
    max-width: 70%;
  }
}
