$placehoderColor: #000;

//form__row
$form__row-Margin: 0 0 28px 0;

//form__label
$form__label-Color: inherit;
$form__label-FontSize: 14px;
$form__label-LineHeight: 38px; //рекомендуется установить высоту чекбокса
$form__label-FontWeight: normal;
$form__label-Margin: 0 0 0 0;

//form__input
$form__input-FontSize: 14px;
$form__input-Background: #fff;
$form__input-Color: #000;
$form__input-Height: 38px; //высота без бордеров
$form__input-Border: 1px solid #7f7f7f;
$form__input-Padding: 0 15px;
$form__input-BoxShadow: none;
$form__input-BorderRadius: 5px;
$form__input-TextAlign: left;

//form__textarea
$form__textarea-FontSize: $form__input-FontSize;
$form__textarea-LineHeight: $form__textarea-FontSize + 2px;
$form__textarea-Background: $form__input-Background;
$form__textarea-Height: $form__input-Height * 4;
$form__textarea-Border: $form__input-Border;
$form__textarea-Padding: 10px;
$form__textarea-BoxShadow: $form__input-BoxShadow;
$form__textarea-BorderRadius: $form__input-BorderRadius;
$form__textarea-TextAlign: $form__input-TextAlign;

//form__checkbox
$form__checkbox-Width: 30px;
$form__checkbox-Height: $form__checkbox-Width;
$form__checkbox-Margin: 0 0 0 10px;
$form__checkbox-BoxShadow: none;
$form__checkbox-Background: #fff;
$form__checkbox-Border: 1px solid #7e7e7e;
$form__checkbox-CheckedBackground: url(../images/checkbox-arrow.png) 50% 50% no-repeat;
$form__checkbox-CheckedBorder: $form__checkbox-Border;

//form__radio
$form__radio-Width: $form__checkbox-Width;
$form__radio-Height: $form__radio-Width;
$form__radio-Margin: $form__checkbox-Margin;
$form__radio-BoxShadow: $form__checkbox-BoxShadow;
$form__radio-BorderRadius: $form__radio-Width / 2;
$form__radio-Background: #ffa500;
$form__radio-Border: $form__checkbox-Border;
$form__radio-CheckedBackground: #ffa500;
$form__radio-CheckedBorder: $form__checkbox-Border;


//form__select
$form__select-Height: $form__input-Height + 2px;
$form__select-Padding: 0 15px 0 10px;
$form__select-FontSize: $form__input-FontSize;
$form__select-LineHeight: $form__input-Height;
$form__select-Background: $form__input-Background;
$form__select-Border: $form__input-Border;

::-webkit-input-placeholder{
	color: $placehoderColor;
	opacity: 1;
}
::-moz-placeholder{
	color: $placehoderColor;
	opacity: 1;
}
:-moz-placeholder{
	color: $placehoderColor;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $placehoderColor;
	opacity: 1;
}


.form {
	margin: 20px 0 0;

	&__label {
		display: block;
		color: $form__label-Color;
		vertical-align: middle;
		font-size: $form__label-FontSize;
		line-height: $form__label-LineHeight;
		font-weight: $form__label-FontWeight;
		margin: $form__label-Margin;

		&--big {

		}
	}

	&__row {
		margin: $form__row-Margin;
		position: relative;
	}

	&__input {
		background: $form__input-Background;
		height: $form__input-Height;
		position: relative;
		border: $form__input-Border;
		box-shadow: $form__input-BoxShadow;
		border-radius: $form__input-BorderRadius;
		color: $form__input-Color;

		input {
			font-family:'Stag Sans LC Book', sans-serif;
			color: inherit;
			font-size: $form__input-FontSize;
			line-height: $form__input-Height;
			text-align: $form__input-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			height: inherit;
			padding: $form__input-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
		}
	}

	&__textarea {
		background: $form__textarea-Background;
		height: $form__textarea-Height;
		position: relative;
		border: $form__textarea-Border;
		box-shadow: $form__textarea-BoxShadow;
		border-radius: $form__textarea-BorderRadius;
		color: $form__input-Color;

		textarea {
			font-family: inherit;
			color: inherit;
			font-size: $form__textarea-FontSize;
			line-height: $form__textarea-LineHeight;
			text-align: $form__textarea-TextAlign;
			z-index: 2;
			display: block;
			width: 100%;
			height: inherit;
			padding: $form__textarea-Padding;
			outline: none;
			background: none;
			box-sizing: border-box;
			border: none;
			resize: none;
		}
	}

	&__checkbox {
		display: inline-block;
		vertical-align: middle;
		margin: $form__checkbox-Margin;

		&:first-child {
			margin-left: 0;
		}

		input {
			box-shadow: $form__checkbox-BoxShadow;
			width: $form__checkbox-Width;
			height: $form__checkbox-Height;
			border: $form__checkbox-Border;
			display: inline-block;
			background: $form__checkbox-Background;
			vertical-align: middle;
			-webkit-appearance: none;
			margin: 0;
			outline: none;
			border-radius: 5px;

			&:checked {
				background: $form__checkbox-CheckedBackground;
				background-size: 15px auto;
				border: $form__checkbox-CheckedBorder;
			}
		}
	}

	&__radio {
		display: inline-block;
		margin: $form__radio-Margin;
		vertical-align: middle;

		&:first-child {
			margin-left: 0;
		}
		
		input{
			display: none;
		}

		span.fake-radio{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			width: $form__radio-Width;
			height: $form__radio-Height;
			border-radius: $form__radio-BorderRadius;
			border: $form__radio-Border;

			&::before{
				box-shadow: $form__radio-BoxShadow;
				display: none;
				border-radius: $form__radio-BorderRadius;
				background: $form__radio-Background;
				vertical-align: middle;
				-webkit-appearance: none;
				margin: 0;
				outline: none;
				position: absolute;
				width: 17px;
				height: 17px;
				top: 6px;
				left: 6px;
				content: "";
			}
		}

		input:checked + span.fake-radio{
			&::before{
				display: block;
			}
		}

		input{
			

			&:checked {
				background: $form__radio-CheckedBackground;
				border: $form__radio-CheckedBorder;
			}
		}
	}



	// &__select {
	// 	position: relative;
	// 	color: $form__input-Color;

	// 	&:after {
	// 		content: '';
	// 		display: block;
	// 		position: absolute;
	// 		width: 0;
	// 		height: 0;
	// 		right: 10px;
	// 		top: 50%;
	// 		margin: -2px 0 0;
	// 		border-left: 4px solid transparent;
	// 		border-right: 4px solid transparent;
	// 		border-top: 6px solid #000;
	// 	}

	// 	select {
	// 		font-family: inherit;
	// 		color: inherit;
	// 		position: relative;
	// 		font-size: $form__select-FontSize;
	// 		line-height: $form__select-LineHeight;
	// 		height: $form__select-Height;
	// 		outline: none;
	// 		display: block;
	// 		width: 100%;
	// 		background: $form__select-Background;
	// 		border: $form__select-Border;
	// 		padding: $form__select-Padding;
	// 		box-sizing: border-box;
	// 		border-radius: $form__input-BorderRadius;

	// 		-webkit-appearance: none;
	// 		-moz-appearance: none;
	// 		appearance: none;
	// 	}
	// }

	&__elem {
		&--str {
			display: inline-block;
			.form__label {
				display: inline-block;
			}
		}
	}

	&__alert {
		background: rgba(255, 0, 0, .1);
		border-radius: 10px;
		padding: 20px;
		color: #999;
		display: none;
	}

	&__error {
		color: #ff0000;
		font-size: 12px;
		line-height: 14px;
		display: none;
	}

	&__control {
		&--error {
			.form__error {
				display: block;
			}

			.form__input {
				border-color: #f00;
			}

			.form__textarea {
				border-color: #f00;
			}

			.form__select select {
				border-color: #f00;
			}

			.form__select:after {
				border-top-color: #f00;
			}
		}
	}

	table {
		width: 100%;
	}

	&__description {
		font-size: $form__label-FontSize - 4px;
	}
}

.required{
	position: relative;

	&::before{
		content: "*";
		position: absolute;
		left: -20px;
		font-size: 24px;
		line-height: 1;
		top: 50%;
		margin-top: -8px;
		color: #000;
	}
}

.radio__label,
.checkbox_label{
	font-size: 14px;
	color: #9c9d9d;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}


.checkbox__label,
.form__elem--str{
	display: inline-block;
	vertical-align: middle;
}

.checkbox__label{
	margin-left: 5px;
}